:root {
  --font-title: #374151;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

.nav-catalogo {
  gap: 20px;
  display: flex;
}

header a {
  text-decoration: none;
  color: var(--font-title);
  font-weight: bold;
}

.header-dev-food {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-dev-food button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header-dev-food button i {
  font-size: 30px;
  color: var(--font-title);
  margin-right: 6.875rem;
}

.header-dev-food button i::after {
  content: attr(data-content);
  position: absolute;
  background-color: red;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  color: white;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-size: 8px;
  line-height: 20px;
  text-align: center;
}

 .header-dev-food .nav-header {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 50px;
}

.header-dev-food img {
  height: 80px;
  width: 80px;
  padding-top: 10px;
}

/* Section */

.section-inicial {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url(assets/wave.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 15%;
  padding-bottom: 150px;
}

/* section menu */
.menu {
  margin-top: 50px;
  color: var(--font-title);
}

.menu img{
  height: 120px;
  width: 120px;
  border-radius: 8px;
}

.menu h2 {
  text-align: center;
  font-size: 40px;
}

.menu .categoria{
  font-size: 1.875rem;
  font-weight: 700;
  color: #374151;
}

.card-item {
  max-width: 30em;
  flex-direction: row;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.card-item img{
  width: 30%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}
.card-item .text-section {
  max-width: 460px;
  overflow-y: hidden;
}


/* .menu .card-item {
  border: 1px solid #374151;
  border-radius: 8px;
} */

.menu .detalhe-preco {
  color: #10B981;
  font-weight: bold;
}


/* Footer */
footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  color: #333333;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: #333333;
}
